// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    font-family: 'Roboto', sans-serif;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    background-color: #06528D;
    color: white;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        margin-inline-start: auto;
    }
}

@media (max-width: 563px) {
    #cartelera .container_img {
        height: 350px !important;
        width: 100% !important;
    }
    #cartelera .text {
        opacity: 1 !important;
    }
}

.register.links {
    li {
        list-style: none;
    }
}

.fab {
    color: $naranja;
}

#admpeliculas {
    .card-body {
        padding-bottom: 0px !important;
    }
}

#cartelera {
    .container {
        padding-left: 0px;
    }
    #card_cartelera {
        background-color: transparent;
        border: 0px;
    }
    .card-body {
        width: 98%;
    }
    border: 0px solid;
    background-color: transparent;
    * {
        box-sizing: border-box;
    }
    .container_img {
        position: relative;
        height: 250px;
        width: 184px;
    }
    .image {
        display: block;
        height: 100%;
    }
    .text {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
    .container_img:hover .text {
        opacity: 1;
    }
}
#perfil{
    .card-header {
        background-color: rgb(255, 255, 255);
    }
    .table .thead-dark th {

        background-color: #43515e !important;
    }
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    bottom: 139px;
    left: 194px;
    position: relative;
    background-color: $white;
}

.pb-5,
.py-5 {
    padding-bottom: 0px !important;
}

.view {
    height: 400px;
}

footer {
    background-color: transparent;
    .container {
        background-color: #06528D;
        color: white;
        a {
            color: white;
        }
        hr {
            border-top: 1px solid #ffffff;
        }
    }
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    display: none;
}

.table-dark {
    background-color: #43515e !important;
}

.bg-dark {
    background-color: #43515e !important;
}

//gaspar
.hovereffect {
  width: 250px;
  height: 300px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 85%;
  height: 85%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  width: 250px;
  height: 300px;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}


.hovereffect:hover img {
 filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  height: 10%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  height: 10%;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}